:root {
  --accent-color: #ff6c00;
  --primary-text-color-theme-dark: #9da4bd;
  --primary-text-color-theme-light: #ffffff;
  --secondary-text-color-dark-title: #303030;
  --secondary-text-color-light-subtitle: #555555;
  --prymary-font: "Open Sans", sans-serif;
  --secondary-front: "Raleway", sans-serif;
}

.link {
  text-decoration: none;

}
.list {
  list-style: none;
}
body {
  font-family: var(--prymary-font);
}
/*================ COMPONENTS================*/

.suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.suptitle-theme-dark {
  color: var(--primary-text-color-theme-light);
}

.suptitle-theme-light {
  color: var(--secondary-text-color-dark-title);
}

.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}

.modal-btn {
  font-family: var(--prymary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-light);
}

.media-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36x;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color-dark-title);
}
.media-list-link:hover,
.media-list-link:focus {
  color: var(--accent-color);
}

.secondary-title {
  font-family: var(--secondary-front);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
/*================ /COMPONENTS================*/

/*================ HEDER ================*/

.page-header {
}
.page-nav {
}
.page-logo {
}
.logo-img {
}
.menu {
    display: flex;
flex-direction:  row-reverse;
}
.menu-item {
}

.menu-link {
  background-color: rgb(151, 151, 151);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-text-color-theme-light);
  
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-phone {
  background-color: rgb(151, 151, 151);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-text-color-theme-light);
}
.contact-phone:hover,
.contact-phone:focus {
  color: var(--accent-color);
}
/*================ /HEDER================*/

/*================ HERO ================*/

.hero {
}
.left-side-hero {
}
.media-list {
}
.media-list-item {
}
.right-side-hero {
}
.main-title {
  background-color: #303030;
  font-family: var(--secondary-front);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--primary-text-color-theme-light);
}
/*================ /HERO ================*/
/*================  ABOUT ================*/

.about {
}
.about-item {
}
.about-title {
  color: var(--secondary-text-color-dark-title);
}

.dark {
  color: var(--secondary-text-color-light-subtitle);
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-light-subtitle);
}
.about-btn {
  color: var(--secondary-text-color-dark-title);
}

/*================  /ABOUT ================*/

/*================  PRICES ================*/
.prices {
}

.suptitle-theme-dark {
  color: var(--primary-text-color-theme-dark);
}
.prices-title {
  background-color: #303030;
  color: var(--primary-text-color-theme-light);
}
.prices-list {
}
.list {
}
.prices-item {
}
.prices-item-text {
  background-color: #303030;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: right;
  letter-spacing: 0.02em;

  color: var(--primary-text-color-theme-dark);
}

.prices-btn {
  color: var(--primary-text-color-theme-light);
}
/*================  /PRICES ================*/
/*================  BENEFITS ================*/

.benefits {
}
.benefits-list {
}
.benefits-item {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-dark-title);
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-text-color-dark-title);
}
.benefits-title {
  color: var(--secondary-text-color-dark-title);
}
.benefits-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-light-subtitle);
}
/*================  /BENEFITS ================*/
/*================ TEAM ================*/
.team {
}
.team-title {
  color: var(--secondary-text-color-dark-title);
}
.team-list {
}
.team-item {
}
.team-img {
}
.name-teame {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-dark-title);
}
.team-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
/*================  /TEAM ================*/

/*================  GALERY ================*/

.galery {
}
.galery-list {
}
.galery-item {
}
.galert-pic {
}

/*================  /GALERY ================*/

/*================  BOOKING ================*/
.booking {
}

.booking-title {
  background-color: #303030;
  color: var(--primary-text-color-theme-light);
}

/*================  /BOOKING ================*/

/*================  CONTACTS ================*/

.contact {
}
.contact-title {
  background-color: #303030;
  color: var(--primary-text-color-theme-light);
}
.contact-adress {
}
.contact-list {
}
.contact-item {
}
.contact-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
.contact-tel {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
.contact-mail {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-decoration-line: underline;

  color: var(--primary-text-color-theme-dark);
}
.suptitle-theme-dark {
  color: var(--primary-text-color-theme-light);
}
.contact-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--primary-text-color-theme-dark);
}

/*================  /CONTACTS ================*/
/*================  FOOTER ================*/

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-dark);
}

/*================  /FOOTER ================*/
